/* #app-container {

} */

#display {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: solid 1px black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drum-pad {
  height: 75px;
  width: 75px;
  border: solid black;
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.415);
  border-width: 1px;
  background: transparent;
  box-shadow: inset rgba(128, 128, 128, 0.435) 0px 1px 20px 5px;
  color: rgb(177, 177, 177);
}
