/* (320px and down) */
@media only screen and (max-width: 320px) {
  #app-container {
    margin-top: 7%;
  }

  #random-quote-generator {
    text-align: center;
    margin-bottom: 5%;
    color: white;
  }
  #app-box {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    height: 80vh;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.293);
  }
  #text-author {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 5vh;
    height: 50vh;
    text-align: center;
    justify-content: center;
  }

  #text {
    font-weight: bold;
  }

  #author {
    font-style: italic;
  }

  #icons-holder {
    display: grid;
    grid-template-areas: "a b";
    align-self: center;
  }

  #social-media-icons {
    grid-area: a;
    padding: 5vw;
  }

  #next-quote-button {
    grid-area: b;
    padding: 5vw;
  }

  .fa {
    padding-left: 3px;
    padding-right: 3px;
  }
}

/* (321px and up) */
@media only screen and (min-width: 321px) {
  #app-container {
    margin-top: 1%;
  }

  #random-quote-generator {
    text-align: center;
    margin-bottom: 2%;
    color: white;
  }

  #app-box {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"; */
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 0px 30px 0px 30px;
    height: 80vh;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.293);
  }

  /* #icon {
    grid-area: a;
  } */

  #text-author {
    /* grid-area: b; */
    display: flex;
    flex-direction: column;
    margin-top: 0vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
    height: 50vh;
    text-align: center;
    justify-content: center;
  }

  #text {
    font-weight: bold;
  }

  #author {
    font-style: italic;
  }

  #icons-holder {
    /* grid-area: c; */
    display: grid;
    grid-template-areas: "a b";
    text-align: center;
  }

  #social-media-icons {
    grid-area: a;
  }

  #next-quote-button {
    grid-area: b;
  }

  .fa {
    padding: 7px;
  }
}

#next-quote-button,
#twitter-button,
#facebook-button:hover {
  background: transparent !important;
  border: none;
  outline: none;
}

#next-quote-button,
#twitter-button,
#facebook-button:active {
  background: transparent !important;
  border: none;
  outline: none;
}
#next-quote-button,
#twitter-button,
#facebook-button:enabled {
  background: transparent !important;
  border: none;
  outline: none;
}
